<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenjy.java.amybbs.mapper.common.UserSecretMapper">
    <resultMap id="BaseResultMap" type="cn.chenjy.java.amybbs.model.entity.UserSecret">
        <!--@mbg.generated-->
        <!--@Table user_secret-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="secret_type" jdbcType="VARCHAR" property="secretType"/>
        <result column="secret_id" jdbcType="VARCHAR" property="secretId"/>
        <result column="secret_key" jdbcType="VARCHAR" property="secretKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, create_time, update_time, user_id, secret_type, secret_id, secret_key
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_secret
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="cn.chenjy.java.amybbs.model.entity.UserSecret" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_secret
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="secretType != null">
                secret_type,
            </if>
            <if test="secretId != null">
                secret_id,
            </if>
            <if test="secretKey != null">
                secret_key,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="secretType != null">
                #{secretType,jdbcType=VARCHAR},
            </if>
            <if test="secretId != null">
                #{secretId,jdbcType=VARCHAR},
            </if>
            <if test="secretKey != null">
                #{secretKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.chenjy.java.amybbs.model.entity.UserSecret">
        <!--@mbg.generated-->
        update user_secret
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="secretType != null">
                secret_type = #{secretType,jdbcType=VARCHAR},
            </if>
            <if test="secretId != null">
                secret_id = #{secretId,jdbcType=VARCHAR},
            </if>
            <if test="secretKey != null">
                secret_key = #{secretKey,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-03-07-->
    <select id="getOneByUserIdAndSecretTypeAndSecretId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_secret
        where user_id=#{userId,jdbcType=INTEGER} and secret_type=#{secretType,jdbcType=VARCHAR} and
        secret_id=#{secretId,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-08-->
    <update id="updateSecretKeyById">
        update user_secret
        set secret_key=#{updatedSecretKey,jdbcType=VARCHAR}
        where id=#{id,jdbcType=BIGINT}
    </update>
</mapper>